@model UcakRezervasyon.Models.guzergah

@{
    ViewData["Title"] = "Deteylar";
}

<h1>Details</h1>

<div>
    <h4>guzergah</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.guzergahName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.guzergahName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.guzergahId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
