@model UcakRezervasyon.Models.ucus

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ucus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ucak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ucak.ucakName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.guzergah)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.guzergah.guzergahName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ucusId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
